<div fxFlex="100" fxLayout="row" class="about-me">
  <div fxFlex="30">
    <div fxFlex="33">
      <img src="assets/fluffycloud.png" width="150">
    </div>
    <div fxFlex="33">
      <img src="assets/fluffycloud.png" width="150">
    </div>
    <div fxFlex="33">
      <img src="assets/fluffycloud.png" width="150">
    </div>
  </div>
  <div fxFlex="40">
    <div class="about-me" fxLayout="column" fxLayoutAlign="start center">
      <div fxFlex="25" fxLayoutAlign="start">
        <img src="assets/me4.jpg" class="img-circle p-5" width="300">
      </div>
      <div fxFlex="25" fxLayoutAlign="start">
        <h4 class="name card-title m-t-15 m-b-0">Branko Bajic</h4>
      </div>
      <div class="job" fxFlex="25" fxLayoutAlign="start">
        <small>Full Stack Software Engineer</small>
      </div>
      <div class="hilarious-blurb text-center" fxFlex="25" fxLayoutAlign="start">
        Hello, this is my resume disguised as a pretty personal website.
      </div>
    </div>
  </div>
  <div fxFlex="30">
    <div fxFlex="33">
      <img src="assets/fluffycloud.png" width="150">
    </div>
    <div fxFlex="33">
      <img src="assets/fluffycloud.png" width="150">
    </div>
    <div fxFlex="33">
      <img src="assets/fluffycloud.png" width="150">
    </div>
  </div>
</div>