.img-circle {
    border-radius: 100%;
    outline: none;
    box-sizing: border-box;
    margin-top: 0;
}

.name{
  font-size: 2.8rem;
  color:blueviolet
}

.job{
  color:#dee2e6;
  line-height: 10px;
  font-size: 3.3rem;
  margin-bottom: 1rem;
}

.hilarious-blurb{
  color:#dee2e6
}

